################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Prex.NET/Main/.vs/Prex_RI/v15
*.exe
*.pdb
*.pdb
*.pdb
