<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="membershipUsers" type="Andromeda.Framework.Security.Configuration.MembershipUsersConfiguration,Andromeda.Framework" />
  </configSections>
  <appSettings>
    <add key="SecurityGateway.UseUserCredentials" value="true" />
    <add key="SecurityGateway.Url" value="https://sgsit.nam.nsroot.net:7209/SGAdmin/LegacyController" />
    <add key="SecurityGateway.ApplicationID" value="20321006" />
    <add key="SecurityGateway.ForgotPassowrdUrl" value="https://onereset.citigroup.net/onereset" />
    <add key="Security.RolFunctionProvider" value="Andromeda.Framework.Security.SGRolesFunctionsProvider, Andromeda.Framework" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <membershipUsers>
    <user name="user1" roles="Rol1" />
    <user name="user2" roles="Rol2" />
    <rol name="Rol1">
      Function1
      Function2
      Function3
    </rol>
    <rol name="Rol2">
      Function1
      Function2
      Function3
    </rol>
  </membershipUsers>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <clear />
        <add name="SecurityGateway" type="Andromeda.SGWayProviders.SGMembershipProvider, Andromeda.SGWayProviders" />
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <clear />
        <add name="SecurityGateway" type="Andromeda.SGWayProviders.SGRoleProvider, Andromeda.SGWayProviders" />
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
