<?xml version="1.0" standalone="yes"?>
<dsConfig xmlns="http://tempuri.org/dsConfig.xsd">
  <CONFIG>
    <NOMBRE>Vista</NOMBRE>
    <VALOR>0</VALOR>
  </CONFIG>
  <CONFIG>
    <NOMBRE>MultiExec</NOMBRE>
    <VALOR>0</VALOR>
  </CONFIG>
  <CONFIG>
    <NOMBRE>MinimizarAlCerrar</NOMBRE>
    <VALOR>0</VALOR>
  </CONFIG>
  <CONFIG>
    <NOMBRE>InicioTray</NOMBRE>
    <VALOR>0</VALOR>
  </CONFIG>
  <CONFIG>
    <NOMBRE>ConfirmarAlSalir</NOMBRE>
    <VALOR>0</VALOR>
  </CONFIG>
  <CONFIG>
    <NOMBRE>LastUser</NOMBRE>
    <VALOR>admin</VALOR>
  </CONFIG>
  <CONFIG>
    <NOMBRE>SiempreIG</NOMBRE>
    <VALOR>0</VALOR>
  </CONFIG>
</dsConfig>