<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AIMServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.10.1.154/AIMWebService/V1.1/AIM.asmx"
                binding="basicHttpBinding" bindingConfiguration="AIMServiceSoap"
                contract="CitCiberarkService.AIMServiceSoap" name="AIMServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>