<?xml version="1.0"?>
<configuration>
  <configSections>
   <section name="membershipUsers" type="Andromeda.Framework.Security.Configuration.MembershipUsersConfiguration,Andromeda.Framework" />
  </configSections>

  <appSettings>
    <add key="SecurityGateway.UseUserCredentials" value="true" />
    <add key="SecurityGateway.Url" value="https://sgsit.nam.nsroot.net:7209/SGAdmin/LegacyController" />
    <add key="SecurityGateway.ApplicationID" value="20321006" />
    <add key="SecurityGateway.ForgotPassowrdUrl" value="https://onereset.citigroup.net/onereset" />
    <add key="Security.RolFunctionProvider" value="Andromeda.Framework.Security.SGRolesFunctionsProvider, Andromeda.Framework" />
  </appSettings>

    <membershipUsers>
    <user name="user1" roles="Rol1"  />
    <user name="2244ziegler" roles="Rol2"  />
    <rol name="Rol1">
      Function1
      Function2
      Function3
    </rol>    
    <rol name="Rol2">
      Contabilidad - Operación
      Function2
      Function3
    </rol>
  </membershipUsers>
    
  <system.web>
    <membership defaultProvider="SecurityGateway">
      <providers>
        <clear />
        <add name="SecurityGateway" type="Andromeda.SGWayProviders.SGMembershipProvider, Andromeda.SGWayProviders" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SecurityGateway">
      <providers>
        <clear />
        <add name="SecurityGateway" type="Andromeda.SGWayProviders.SGRoleProvider, Andromeda.SGWayProviders" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
