a                 { font-family: Tahoma; font-size: 8 pt}
a.hover           { font-family: Tahoma; font-size: 8 pt}
a.Titulo          { font-family: Tahoma; font-size: 18 pt }
a.Subtitulo       { font-family: Tahoma; font-size: 12 pt; font-weight: bold }
p                 { font-family: Tahoma; font-size: 8 pt }
p.Bold            { font-family: Tahoma; font-size: 8 pt; font-weight: bold }
table             { font-family: Tahoma; font-size: 8 pt }
td                { font-family: Tahoma; font-size: 8 pt }
th                { font-family: Tahoma; font-size: 8 pt; font-weight: bold }
tr                { font-family: Tahoma; font-size: 8 pt }